<div class="pass-container">
  <div class="header">
    <div class="header-content">
      <span class="page-title">Change Password</span>
    </div>
  </div>
  <div class="main-content">
    <div class="form-container">
      <form [formGroup]="passForm" class="pass-form">
        <!-- Form Fields -->
        <div class="form-row">
          <div class="form-group">
            <label class="form-label">New password<span class="star">*</span></label>
            <input class="form-input" type="password" formControlName="newPass"  placeholder="Enter new password">
            <span class="error">{{getErrorMessage('newPass')}}</span>

          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label class="form-label">Confirm password<span class="star">*</span></label>
            <input class="form-input" type="password" formControlName="confirmPass"  placeholder="Confirm password">
            <span class="error">{{getErrorMessage('confirmPass')}}</span>

          </div>
        </div>
        <span class="error">{{isConfirm()}}</span>
      </form>
    </div>
    <div class="action-buttons">
      <button class="cancel-btn" type="button" (click)="cancelEditAction()">CANCEL</button>
      <button class="update-btn" type="button" (click)="updatePass()">UPDATE</button>
    </div>
  </div>
</div>
